<div class='bg-white p-3 m-3 divide-y-2 rounded-sm'>

  <div class='flex items-center pb-3'>
    <%= image_tag("icons/archive_box.svg", class: "h-16", alt: "Archive Box Icon") %>
    <h2 class='ml-2 font-bold'><%= payment.name %></h2>
  </div>

  <div class="py-3">
    <p class="font-bold">Transaction Nº
      <%= payment.id %>
    </p>
    <div class='flex items-center my-2 text-gray-500'>
      <%= image_tag("icons/calendar_mini.svg", class: "h-10", alt: "Calendar Icon") %>
      <p><%= payment.created_at %></p>
    </div>
  </div>

  <div class='flex justify-between font-bold pt-3'>
    <p>TOTAL PAYMENT</p>
    <p>$<%= payment.amount %></p>
  </div>
</div>

<div class="bg-white p-3 m-3 rounded-sm">
  <h1 class="font-bold pb-2">GROUPS</h1>
  <div class="divide-y-2">
    <% payment.groups.each do |group| %>
      <p class="py-2"><%= group.name %></p>
    <% end %>
  </div>
</div>
